# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Garmin Connect IQ developer keys & build artifacts
*.der
*.pem
developer_key*
bin/
gen/
mir/
internal-mir/
external-mir/
*.prg
*.prg.debug.xml
*.iq
*.barrel
